.row-layout {
    display: flex;
}
.otp-verification-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.column-layout {
    display: flex;
    flex-direction: column;
}
.group {
    background-color: hsla(var(--ig-secondary-400));
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    position: relative;
    padding: 64px 32px;
    min-width: 50px;
    min-height: 50px;
    align-self: stretch;
    flex-grow: 1;
    flex-basis: 0;
}
.container {
    background-color: hsla(var(--ig-surface-500));
    border-radius: 30px;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    gap: 32px;
    position: relative;
    padding: 30px;
    width: 400px;
    min-width: 50px;
    min-height: 50px;
    max-width: 400px;
    align-self: center;
    flex-shrink: 0;
}
.group_1 {
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    gap: 8px;
    position: relative;
    min-width: 50px;
    min-height: 50px;
    align-self: stretch;
}
.group_2 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 16px;
    position: relative;
    min-width: 50px;
    min-height: 50px;
    align-self: stretch;
}
.group_3 {
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: 4px;
    position: relative;
    min-width: 50px;
    align-self: stretch;
}
.image {
    object-fit: cover;
    height: 100px;
    min-width: 0;
    min-height: 0;
    max-height: 100px;
    flex-shrink: 0;
}
.h3 {
    text-align: center;
    height: max-content;
    min-width: min-content;
    align-self: stretch;
}
.text {
    text-align: center;
    color: hsla(var(--ig-gray-700));
    height: max-content;
    min-width: min-content;
    align-self: stretch;
}
.icon {
    --size: 18px;
    font-size: 18px;
    width: 18px;
    height: 18px;
    color: hsla(var(--ig-gray-500));
}
.icon_1 {
    color: hsla(var(--ig-surface-500));
}
.text_1 {
    color: hsla(var(--ig-gray-600));
    height: max-content;
    min-width: min-content;
    align-self: center;
}
.hyperlink {
    color: hsla(var(--ig-info-500));
    height: max-content;
    min-width: min-content;
    flex-shrink: 0;
}
.input {
    height: max-content;
    min-width: min-content;
    align-self: stretch;
}
.button {
    --ig-size: var(--ig-size-large);
    height: max-content;
    align-self: stretch;
}
.button::part(base) {
    color: hsla(var(--ig-surface-500));
}
