<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Infragistics" value="https://packages.infragistics.com/nuget/licensed/" />
  </packageSources>
  <packageSourceCredentials>
    <Infragistics>
      <add key="Username" value="zoe.emmanuel@etztec.com" />
      <add key="ClearTextPassword" value="Fysteewun1991-" />
    </Infragistics>
  </packageSourceCredentials>
</configuration>