.row-layout {
    display: flex;
}
.banking-pages-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.view-container {
    overflow: auto;
    position: relative;
    min-width: 0;
    min-height: 0;
    flex-grow: 1;
}
