@inherits LayoutComponentBase

<div class="column-layout sign-in-container">
    <div class="view-container">
        @Body
    </div>
    <div class="row-layout footer">
        <div class="row-layout container">
            <div class="row-layout group">
                <div class="row-layout location">
                    <p class="typography__caption text">
                        Singapore
                    </p>
                </div>
            </div>
            <div class="row-layout group">
                <div class="row-layout location">
                    <a href="http://goowid.com/settings" class="typography__caption hyperlink">
                        Help
                    </a>
                </div>
                <div class="row-layout location">
                    <a href="http://goowid.com/privacy" class="typography__caption hyperlink">
                        Privacy
                    </a>
                </div>
                <div class="row-layout location">
                    <a href="http://goowid.com/terms" class="typography__caption hyperlink">
                        Terms
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
}
