.column-layout {
    display: flex;
    flex-direction: column;
}
.new-convo-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.row-layout {
    display: flex;
}
.topbar {
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    gap: 50px;
    position: relative;
    padding: 10px 10px 10px 0;
    height: 72px;
    min-width: 0;
    min-height: 15px;
    max-height: 72px;
    align-self: stretch;
    flex-shrink: 0;
}
.group {
    background-color: transparent;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    position: relative;
    padding: 5px;
    width: 103px;
    height: 71px;
    min-width: 50px;
    min-height: 50px;
    max-width: 103px;
    max-height: 71px;
}
.round-icon-button-1 {
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    margin: 0 4px 0 0;
    padding: 12px;
    width: 63px;
    min-width: 63px;
    max-width: 63px;
}
.group_1 {
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    position: relative;
    height: 48px;
    min-height: 48px;
    max-height: 48px;
}
.group_2 {
    background-color: hsla(var(--ig-secondary-100));
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    position: relative;
    padding: 0 16px 16px 0;
    width: 150px;
    height: 491px;
    min-width: 50px;
    min-height: 50px;
    max-width: 150px;
    max-height: 491px;
}
.group_3 {
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 5px;
    position: relative;
    width: 170px;
    height: 254px;
    min-width: 170px;
    min-height: 254px;
    max-width: 170px;
    max-height: 254px;
}
.group_4 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    padding: 5px;
    width: 165px;
    height: 78px;
    min-width: 165px;
    min-height: 78px;
    max-width: 165px;
    max-height: 78px;
}
.group_5 {
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    position: relative;
    padding: 2px 0 0 8px;
    width: 156px;
    min-width: 156px;
    max-width: 156px;
    flex-grow: 1;
    flex-basis: 0;
}
.group_6 {
    background-color: hsla(var(--ig-secondary-600));
    border-color: hsla(var(--ig-secondary-200));
    border-style: solid;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: 8px;
    left: 0;
    position: relative;
    padding: 8px;
    width: 140px;
    height: 49px;
    min-width: 140px;
    min-height: 49px;
    max-width: 140px;
    max-height: 49px;
}
.group_7 {
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    bottom: 0;
    position: relative;
    padding: 0 0 -30px;
    width: 306px;
    height: 96px;
    min-width: 306px;
    min-height: 96px;
    max-width: 306px;
    max-height: 96px;
}
.group_8 {
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 7px;
    position: relative;
    padding: 0 5px 5px;
    width: 157px;
    height: 155px;
    min-width: 157px;
    min-height: 155px;
    max-width: 157px;
    max-height: 155px;
    align-self: center;
}
.group_9 {
    background-color: hsla(var(--ig-secondary-400));
    border-radius: 30px;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    gap: 10px;
    position: relative;
    padding: 10px 8px 8px 0;
    width: 144px;
    height: 38px;
    min-width: 144px;
    min-height: 38px;
    max-width: 144px;
    max-height: 38px;
}
.group_10 {
    background-color: transparent;
    border-radius: 30px;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    gap: 10px;
    position: relative;
    padding: 10px 8px 8px 0;
    width: 144px;
    height: 38px;
    min-width: 144px;
    min-height: 38px;
    max-width: 144px;
    max-height: 38px;
}
.group_11 {
    border-radius: 30px;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    gap: 10px;
    position: relative;
    padding: 10px 8px 8px 0;
    width: 140px;
    height: 38px;
    min-width: 140px;
    min-height: 38px;
    max-width: 140px;
    max-height: 38px;
    align-self: flex-start;
}
.group_12 {
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 5px;
    position: relative;
    padding: 5px;
    width: 124px;
    height: 91px;
    min-width: 124px;
    min-height: 91px;
    max-width: 124px;
    max-height: 91px;
    align-self: center;
}
.group_13 {
    background-color: transparent;
    border-radius: 30px;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    gap: 10px;
    position: relative;
    padding: 8px;
    width: 152px;
    height: 31px;
    min-width: 152px;
    min-height: 31px;
    max-width: 152px;
    max-height: 31px;
}
.profile-user {
    background-color: hsla(var(--ig-success-500));
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    position: relative;
    min-width: 15px;
    min-height: 15px;
}
.group_14 {
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 5px;
    position: relative;
    padding: 5px;
    width: 124px;
    height: 105px;
    min-width: 124px;
    min-height: 105px;
    max-width: 124px;
    max-height: 105px;
    align-self: center;
}
.group_15 {
    justify-content: flex-end;
    align-items: center;
    align-content: flex-start;
    position: relative;
    padding: 5px 0;
    width: 103px;
    height: 52px;
    min-width: 50px;
    min-height: 50px;
    max-width: 103px;
    max-height: 52px;
}
.group_16 {
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: 10px;
    position: relative;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    max-height: 50px;
}
.group_17 {
    justify-content: flex-end;
    align-items: center;
    align-content: flex-start;
    gap: 10px;
    position: relative;
    padding: 4px;
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
}
.profile-user-2 {
    background-color: hsla(var(--ig-primary-600));
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    position: relative;
    min-width: 40px;
    min-height: 40px;
}
.group_18 {
    justify-content: flex-end;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    width: 242px;
    height: 21px;
    min-width: 242px;
    min-height: 21px;
    max-width: 242px;
    max-height: 21px;
}
.group_19 {
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    position: relative;
    min-width: 50px;
    min-height: 50px;
}
.group_20 {
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    position: relative;
    padding: 12px;
    min-width: 40px;
    min-height: 40px;
}
.group_21 {
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: 16px;
    position: relative;
    min-width: 50px;
    min-height: 50px;
}
.group_22 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 16px;
    position: relative;
    min-width: 50px;
    min-height: 50px;
}
.avatar {
    background-color: hsla(var(--ig-primary-600));
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    position: relative;
    width: 48px;
    height: 48px;
    min-width: 48px;
    min-height: 48px;
    max-width: 48px;
    max-height: 48px;
}
.circle {
    background-color: hsla(var(--ig-success-500));
    border-color: hsla(var(--ig-surface-500));
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    left: 34px;
    top: 34px;
    position: absolute;
    width: 14px;
    height: 14px;
    min-width: 14px;
    min-height: 14px;
    max-width: 14px;
    max-height: 14px;
}
.group_23 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    min-width: 50px;
    min-height: 50px;
}
.group_24 {
    background-color: hsla(var(--ig-surface-500));
    border-radius: 28px;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    margin: 0 8px;
    padding: 4px;
    min-width: 50px;
    min-height: 50px;
}
.settings-button-1 {
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    gap: 8px;
    position: relative;
    padding: 12px 20px;
    min-width: 50px;
    min-height: 50px;
}
.language-button {
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    gap: 8px;
    position: relative;
    padding: 12px 20px;
    min-width: 50px;
    min-height: 50px;
}
.group_25 {
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    gap: 8px;
    position: relative;
    min-width: 50px;
}
.group_26 {
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: 8px;
    position: relative;
    min-width: 50px;
}
.group_27 {
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    position: relative;
    padding: 5px 6px;
    min-width: 50px;
}
.deivder {
    background-color: hsla(var(--ig-gray-400));
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    width: 1px;
    height: 8px;
    min-width: 1px;
    min-height: 8px;
    max-width: 1px;
    max-height: 8px;
}
.group_28 {
    justify-content: flex-end;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    height: 44px;
    min-height: 44px;
    max-height: 44px;
}
.group_29 {
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
}
.group_30 {
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: 0;
    position: relative;
    padding: 16px 0 0;
    min-width: 50px;
    min-height: 50px;
}
.category-2 {
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: 8px;
    position: relative;
    width: 91px;
    height: 112px;
    min-width: 50px;
    min-height: 50px;
    max-width: 91px;
    max-height: 112px;
}
.group_31 {
    background-color: hsla(var(--ig-secondary-400));
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    position: relative;
    width: 48px;
    height: 48px;
    min-width: 50px;
    min-height: 50px;
    max-width: 48px;
    max-height: 48px;
}
.group_32 {
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    position: relative;
    padding: 0 12px 6px;
    min-width: 0;
    min-height: 0;
    align-self: stretch;
}
.group_33 {
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: 0;
    position: relative;
    padding: 0 0 16px;
    height: 147px;
    min-width: 50px;
    min-height: 50px;
    max-height: 147px;
}
.category-4 {
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: 8px;
    position: relative;
    padding: 10px 0 0;
    width: 91px;
    height: 112px;
    min-width: 50px;
    min-height: 50px;
    max-width: 91px;
    max-height: 112px;
}
.group_34 {
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    position: relative;
    min-width: 50px;
    min-height: 50px;
    flex-grow: 1;
    flex-basis: 0;
}
.sidenav {
    background-color: transparent;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    overflow: hidden;
    position: relative;
    padding: 0 16px 16px 15px;
    width: 79px;
    height: 721px;
    min-width: 50px;
    min-height: 50px;
    max-width: 150px;
    max-height: 721px;
}
.group_35 {
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: 5px;
    position: relative;
    width: 79px;
    height: 254px;
    min-width: 79px;
    min-height: 254px;
    max-width: 79px;
    max-height: 254px;
}
.group_36 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    padding: 5px;
    width: 74px;
    height: 78px;
    min-width: 74px;
    min-height: 78px;
    max-width: 74px;
    max-height: 78px;
}
.group_37 {
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    position: relative;
    width: 63px;
    min-width: 63px;
    max-width: 63px;
    flex-grow: 1;
    flex-basis: 0;
}
.group_38 {
    background-color: hsla(var(--ig-secondary-600));
    border-color: hsla(var(--ig-secondary-200));
    border-style: solid;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: 8px;
    left: 0;
    position: relative;
    padding: 8px;
    width: 43px;
    height: 39px;
    min-width: 43px;
    min-height: 39px;
    max-width: 43px;
    max-height: 39px;
}
.group_39 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
}
.group_40 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
}
.settings-button {
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    gap: 8px;
    width: 269px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    max-width: 269px;
    max-height: 50px;
}
.group_41 {
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 7px;
    position: relative;
    padding: 0 5px 5px;
    width: 63px;
    height: 155px;
    min-width: 63px;
    min-height: 155px;
    max-width: 63px;
    max-height: 155px;
    align-self: center;
}
.group_42 {
    background-color: transparent;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: 10px;
    position: relative;
    padding: 8px;
    width: 49px;
    height: 38px;
    min-width: 49px;
    min-height: 38px;
    max-width: 49px;
    max-height: 38px;
}
.group_43 {
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: 10px;
    position: relative;
    padding: 8px;
    width: 49px;
    height: 38px;
    min-width: 49px;
    min-height: 38px;
    max-width: 49px;
    max-height: 38px;
    align-self: center;
}
.group_44 {
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 5px;
    position: relative;
    padding: 0 5px 5px;
    width: 76px;
    height: 102px;
    min-width: 76px;
    min-height: 102px;
    max-width: 76px;
    max-height: 102px;
    align-self: center;
}
.group_45 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    overflow: hidden;
    position: relative;
    height: 724px;
    min-width: 50px;
    min-height: 50px;
    max-height: 724px;
    flex-grow: 1;
    flex-basis: 0;
}
.group_46 {
    background-color: transparent;
    border-color: hsla(var(--ig-gray-400));
    border-width: 0px 0px 1px;
    border-style: solid;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    gap: 32px;
    position: relative;
    margin: 0 0 10px;
    padding: 10px 10px 0 0;
    height: 72px;
    min-width: 0;
    min-height: 15px;
    max-height: 72px;
    align-self: stretch;
    flex-shrink: 0;
}
.group_47 {
    background-color: hsla(var(--ig-surface-500));
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    gap: 8px;
    position: relative;
    padding: 5px 5px 5px -10px;
    width: 291px;
    height: 53px;
    min-width: 50px;
    min-height: 50px;
    max-width: 291px;
    max-height: 53px;
}
.group_48 {
    justify-content: flex-end;
    align-items: center;
    align-content: flex-start;
    gap: 0;
    position: relative;
    margin: 0 0 0 -8px;
    width: 80px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    max-width: 80px;
    max-height: 50px;
}
.profile-user-5 {
    background-color: hsla(var(--ig-primary-600));
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: 0;
    position: relative;
    margin: 0 0 0 5px;
    min-width: 40px;
    min-height: 40px;
}
.group_49 {
    justify-content: flex-end;
    align-items: center;
    align-content: flex-start;
    position: relative;
    padding: 5px;
    width: 79px;
    min-width: 50px;
    min-height: 50px;
    max-width: 79px;
    align-self: center;
}
.group_50 {
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    position: relative;
    width: 32px;
    height: 31px;
    min-width: 32px;
    min-height: 31px;
    max-width: 32px;
    max-height: 31px;
}
.group_51 {
    justify-content: flex-end;
    align-items: center;
    align-content: flex-start;
    position: relative;
    width: 31px;
    height: 29px;
    min-width: 31px;
    min-height: 29px;
    max-width: 31px;
    max-height: 29px;
    align-self: center;
    flex-shrink: 0;
}
.group_52 {
    background-color: transparent;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
    gap: 32px;
    position: relative;
    margin: 0 0 22px;
    height: 612px;
    min-width: 0;
    min-height: 15px;
    max-height: 612px;
    align-self: stretch;
    flex-shrink: 0;
}
.group_53 {
    background-color: hsla(var(--ig-surface-500));
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    position: relative;
    padding: 16px 5px 5px;
    height: 617px;
    min-width: 50px;
    min-height: 50px;
    max-height: 617px;
    flex-grow: 1;
    flex-basis: 0;
}
.group_54 {
    background-color: transparent;
    border-color: hsla(var(--ig-gray-300));
    border-width: 0px 0px 1px;
    border-style: solid;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
    position: relative;
    padding: 10px 10px 10px 0;
    height: 514px;
    min-width: 0;
    min-height: 15px;
    max-height: 514px;
    align-self: stretch;
    flex-shrink: 0;
}
.group_55 {
    justify-content: center;
    align-items: center;
    align-content: stretch;
    overflow: hidden;
    position: relative;
    margin: 0 0 0 10px;
    padding: 90px 10px 5px 5px;
    height: 314px;
    min-width: 300px;
    min-height: 50px;
    max-height: 314px;
    align-self: stretch;
    flex-shrink: 6;
}
.group_56 {
    justify-content: flex-end;
    align-items: center;
    align-content: flex-start;
    gap: 10px;
    position: relative;
    padding: 4px;
    width: 78px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    max-width: 78px;
    max-height: 50px;
}
.profile-user-4 {
    background-color: hsla(var(--ig-primary-600));
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    position: relative;
    min-width: 45px;
    min-height: 45px;
}
.group_57 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    align-self: stretch;
    flex-shrink: 7;
}
.group_58 {
    background-color: transparent;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    gap: 32px;
    position: relative;
    padding: 10px 10px 10px 0;
    height: 72px;
    min-width: 0;
    min-height: 15px;
    max-height: 72px;
    align-self: stretch;
    flex-shrink: 0;
}
.group_59 {
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: 20px;
    position: relative;
    padding: 5px;
    width: 1784px;
    min-width: 50px;
    min-height: 50px;
    max-width: 1784px;
    align-self: center;
    flex-shrink: 5;
}
.group_60 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 40px;
    position: relative;
}
.nav-drawer {
    min-width: min-content;
    min-height: 0;
    max-width: 173px;
    flex-shrink: 0;
}
.nav-drawer::part(main) {
    width: 173px;
}
.icon {
    --size: 24px;
    font-size: 24px;
    width: 24px;
    height: 24px;
}
.image {
    object-fit: contain;
    margin: 0 0 0 -20px;
    width: 90px;
    height: 46px;
    min-width: 0;
    min-height: 0;
    max-width: 90px;
    max-height: 46px;
    flex-shrink: 0;
}
.image_1 {
    object-fit: fill;
    width: 35px;
    height: 31px;
    min-width: 0;
    min-height: 0;
    max-width: 35px;
    max-height: 31px;
    align-self: center;
    flex-shrink: 0;
}
.text {
    text-align: center;
    color: hsla(var(--ig-gray-900));
    width: 83px;
    height: max-content;
    min-width: min-content;
    max-width: 83px;
}
.image_2 {
    object-fit: cover;
    margin: 0 0 0 9px;
    width: 25px;
    height: 25px;
    min-width: 0;
    min-height: 0;
    max-width: 25px;
    max-height: 25px;
    flex-shrink: 0;
}
.content_1 {
    color: hsla(var(--ig-gray-900));
    height: max-content;
    min-width: min-content;
}
.image_3 {
    object-fit: fill;
    margin: 0 0 0 9px;
    width: 25px;
    height: 25px;
    min-width: 0;
    min-height: 0;
    max-width: 25px;
    max-height: 25px;
    flex-shrink: 0;
}
.icon_1 {
    color: hsla(var(--ig-gray-900));
}
.image_4 {
    object-fit: contain;
    margin: 0 0 0 -20px;
    width: 84px;
    height: 49px;
    min-width: 0;
    min-height: 0;
    max-width: 84px;
    max-height: 49px;
    flex-shrink: 0;
}
.icon_2 {
    --size: 36px;
    font-size: 36px;
    width: 36px;
    height: 36px;
}
.text_2 {
    color: hsla(var(--ig-surface-500));
    height: max-content;
    min-width: min-content;
}
.icon_3 {
    --size: 18px;
    font-size: 18px;
    width: 18px;
    height: 18px;
    color: hsla(var(--ig-gray-900));
}
.text_3 {
    text-align: center;
    color: hsla(var(--ig-gray-900));
    height: max-content;
    min-width: min-content;
    align-self: center;
    flex-grow: 1;
    flex-basis: 0;
}
.text_4 {
    color: hsla(var(--ig-gray-700));
    height: max-content;
    min-width: min-content;
}
.image_5 {
    object-fit: cover;
    height: 20px;
    min-width: 0;
    min-height: 0;
    max-height: 20px;
    flex-shrink: 0;
}
.content {
    height: max-content;
    min-width: min-content;
}
.text_6 {
    text-align: center;
    color: hsla(var(--ig-gray-600));
    height: max-content;
    min-width: min-content;
}
.image_6 {
    object-fit: cover;
    width: 20px;
    height: 20px;
    min-width: 0;
    min-height: 0;
    max-width: 20px;
    max-height: 20px;
    flex-shrink: 0;
}
.image_7 {
    object-fit: contain;
    width: 207px;
    height: 54px;
    min-width: 0;
    min-height: 0;
    max-width: 207px;
    max-height: 54px;
    flex-shrink: 0;
}
.image_8 {
    object-fit: cover;
    width: 32px;
    height: 32px;
    min-width: 0;
    min-height: 0;
    max-width: 32px;
    max-height: 32px;
    flex-shrink: 0;
}
.text_7 {
    text-align: center;
    height: max-content;
    min-width: min-content;
}
.image_9 {
    object-fit: cover;
    width: 25px;
    height: 25px;
    min-width: 0;
    min-height: 0;
    max-width: 25px;
    max-height: 25px;
    flex-shrink: 0;
}
.image_10 {
    object-fit: fill;
    width: 25px;
    height: 25px;
    min-width: 0;
    min-height: 0;
    max-width: 25px;
    max-height: 25px;
    flex-shrink: 0;
}
.text_1 {
    text-align: center;
    color: hsla(var(--ig-gray-900));
    margin: 20px 0 0;
    width: 343px;
    height: max-content;
    min-width: min-content;
    max-width: 343px;
}
.text_5 {
    text-align: center;
    color: hsla(var(--ig-gray-600));
    margin: 60px 0 0;
    width: 343px;
    height: max-content;
    min-width: min-content;
    max-width: 343px;
}
.icon_4 {
    --size: 24px;
    font-size: 24px;
    width: 24px;
    height: 24px;
    color: hsla(var(--ig-gray-600));
    align-self: center;
}
.input {
    margin: 20px 0;
    width: 288px;
    height: max-content;
    min-width: min-content;
    max-width: 288px;
}
.button {
    --ig-size: var(--ig-size-medium);
    height: max-content;
}
.button_1 {
    --ig-size: var(--ig-size-large);
    width: 203px;
    height: max-content;
    min-width: 203px;
    max-width: 203px;
}
.button_2 {
    --ig-size: var(--ig-size-medium);
    margin: 0 0 -10px;
    width: 147px;
    height: max-content;
    min-width: 147px;
    max-width: 147px;
}
.button_3 {
    --ig-size: var(--ig-size-medium);
    margin: 0 0 -10px -30px;
    width: 147px;
    height: max-content;
    min-width: 147px;
    max-width: 147px;
}
.input_1 {
    position: relative;
    width: 269px;
    height: max-content;
    min-width: min-content;
    max-width: 269px;
    align-self: center;
}
.button_4 {
    --ig-size: var(--ig-size-large);
    width: 263px;
    height: max-content;
    min-width: 263px;
    max-width: 263px;
}
.input_2 {
    position: relative;
    width: 1296px;
    height: max-content;
    min-width: min-content;
    max-width: 1296px;
    align-self: center;
}
.button_5::part(base) {
    color: hsla(var(--ig-primary-900));
    background-color: transparent;
}
.button_6::part(base) {
    color: hsla(var(--ig-primary-500));
    border-color: hsla(var(--ig-primary-500));
}
.button_1_1::part(base) {
    color: hsla(var(--ig-secondary-100));
    background-color: hsla(var(--ig-secondary-900));
}
.button_2_1::part(base) {
    color: hsla(var(--ig-gray-900));
    background-color: transparent;
}
.button_3_1::part(base) {
    color: hsla(var(--ig-gray-900));
    background-color: transparent;
}
.button_4_1::part(base) {
    color: hsla(var(--ig-secondary-100));
    background-color: hsla(var(--ig-primary-300));
}
