.row-layout {
    display: flex;
}
.general-error-page-container {
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    height: 100%;
}
.column-layout {
    display: flex;
    flex-direction: column;
}
.container {
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    position: relative;
    margin: 64px 0 0;
    width: 400px;
    min-width: 50px;
    min-height: 50px;
    max-width: 400px;
    align-self: flex-start;
}
.group {
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    gap: 8px;
    position: relative;
    margin: 0 0 24px;
    min-width: 50px;
    min-height: 50px;
}
.image {
    object-fit: cover;
    width: 120px;
    min-width: 0;
    min-height: 0;
    max-width: 120px;
    flex-shrink: 0;
}
.image_1 {
    object-fit: cover;
    margin: 24px 0;
    min-width: 0;
    min-height: 0;
    flex-shrink: 0;
}
.h6 {
    text-align: center;
    color: hsla(var(--ig-gray-900));
    height: max-content;
    min-width: min-content;
}
.text {
    text-align: center;
    color: hsla(var(--ig-gray-700));
    height: max-content;
    min-width: min-content;
}
.button {
    --ig-size: var(--ig-size-medium);
    height: max-content;
}
.button::part(base) {
    border-color: hsla(var(--ig-primary-500));
}
