@page "/page"

<div class="row-layout page-container">
    <div class="row-layout container">
        <div class="column-layout group">
            <img src="assets/goowid-logo.svg" class="image" />
            <h6 class="h6">
                404
            </h6>
            <p class="typography__body-1 text">
                The requested page was not found on this server.
            </p>
        </div>
        <div class="row-layout group_1">
            <img src="assets/404-robot.svg" class="image_1" />
        </div>
    </div>
</div>

@code {
}
