.row-layout {
    display: flex;
}
.page-container {
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    height: 100%;
}
.container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 32px;
    position: relative;
    margin: 78px 0 0;
    width: 580px;
    min-width: 50px;
    min-height: 50px;
    max-width: 580px;
    align-self: flex-start;
}
.column-layout {
    display: flex;
    flex-direction: column;
}
.group {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    min-width: 50px;
    min-height: 50px;
    flex-grow: 1;
    flex-basis: 0;
}
.group_1 {
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    min-width: 50px;
    min-height: 50px;
    flex-grow: 1;
    flex-basis: 0;
}
.image {
    object-fit: cover;
    margin: 0 0 24px;
    width: 180px;
    min-width: 0;
    min-height: 0;
    max-width: 180px;
    flex-shrink: 0;
}
.h6 {
    color: hsla(var(--ig-gray-900));
    margin: 0 0 8px;
    height: max-content;
    min-width: min-content;
}
.text {
    color: hsla(var(--ig-gray-700));
    height: max-content;
    min-width: min-content;
}
.image_1 {
    object-fit: cover;
    height: 178px;
    min-width: 0;
    min-height: 0;
    max-height: 178px;
    flex-shrink: 0;
}
